.root {
    -fx-background-color: #F1F3DC;
}

.BarChart-default {
    -fx-background-color: #8b8b8b;
}
.
.BarChart-selected {
    -fx-background-color: #ff0000;
}
.BarChart-selected1 {
    -fx-background-color: #ffc700;
}